*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cindex
*.class
*.jar
*.log
*.tmp

# Module build outputs
flickload-core/build/
flickload-compose/build/
flickload-hilt/build/
flickload-benchmark/build/

# Kotlin
.kotlin
buildSrc/build/
buildSrc/.gradle/
